{% include "admin_header.html "%}

<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
      <div class="owl-one owl-carousel owl-theme">

        <div class="item">
          <li>
            <div class="slider-info  banner-view banner-top1 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg text-left">
                    <p> </p>
                    <font color="white" size="+5">Admin  Home</font>
                    <!--a href="about.html" class="btn btn-white">Read More</a>-->
                  </div>
                </div>
              </div>
              <div class="banhny-w3grids">
                 </div>
            </div>
          </li>
        </div>


      </div>
    </div>
  </section>
{% include "footer.html "%}